<div class="transactions-container">
  <h2>Transactions</h2>
  <div class="filters">

    <app-button
      label="addTransaction"
      type="secondary"
      (onClick)="onAddTransactionClick()"
      [disabled]="!hasMore"
    > Add Transaction </app-button>

    <!-- <label for="categoryFilter">Filter by Category:</label>
    <input
      id="categoryFilter"
      [(ngModel)]="categoryFilter"
      (ngModelChange)="applyFilters()"
      placeholder="Enter category"
    /> -->
  </div>
  <div class="transaction-list">
    <div *ngFor="let tx of transactions" class="transaction-card">
      
      <!-- {{ +tx.amount | currencyFormat }} -->
      <div [ngStyle]="{'color': tx.type === 'expense' ? 'red' : 'inherit'}">
        {{ tx.account.account_name || 'Uncategorized' }} 
        {{ tx.type === 'income' ? '+' : '-' }}
        {{ +tx.amount | currencyFormat }}
      </div>
      <span style="float: right; font-style: italic">
        <span *ngIf="isAdmin(tx)" class="material-icons" (click)="deleteTransaction(tx.id)">delete</span>
        {{ tx.created_at | date:'mediumDate' }}
      </span>
    </div>
    <div *ngIf="!transactions.length" class="no-transactions">
      No transactions available
    </div>
  </div>
  <div class="pagination">
    <app-button
      label="Previous"
      type="secondary"
      (onClick)="prevPage()"
      [disabled]="currentPage === 1"
    > < </app-button>
    <span>Page {{ currentPage }} of {{ lastPage }}</span>
    <app-button
      label="Next"
      type="secondary"
      (onClick)="nextPage()"
      [disabled]="!hasMore"
    > > </app-button>
  </div>
</div>