<div class="login-container">
  <form class="login-form">
    <img src='assets/images/logo-Photoroom.png' alt="Logo" class="logo" />
    <h1 class="sign-in-title">Welcome Back</h1>
    <p class="sub-text">Sign in to access your personal finance manager</p>
    <input
      name="email"
      placeholder="Email Address"
      type="email"
      class="input-field"
      required
    />
    <input
      name="password"
      placeholder="Password"
      type="password"
      class="input-field"
      required
    />
    <div class="form-actions">
      <button type="submit" class="action-btn">Sign In</button>
      
    </div>
    <p class="sign-up-link">
      Don’t have an account? <a routerLink='/register' routerLinkActive="active">Register</a>
    </p>
  </form>
</div>
