<nav class="nav-bar">
  <div class="nav-container">
    <a routerLink="/" class="nav-brand">GreenWallet</a>
    <div class="nav-links">
      <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <a routerLink="/transactions/id" class="nav-link">Transactions</a>
        <a (click)="onLogout()" class="nav-link">Logout</a>
      </ng-container>

      <ng-template #guestLinks>
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
      </ng-template>
    </div>
  </div>
</nav>
