<div class="register-container">
    <form class="register-form">
      <img src="assets/images/logo-Photoroom.png" alt="Logo" class="logo" />
      <h1 class="sign-up-title">Create an Account</h1>
      <p class="sub-text">Sign up to start managing your finances</p>
  
      <input
        name="name"
        placeholder="Full Name"
        type="text"
        class="input-field"
        required
      />
      <input
        name="username"
        placeholder="Username"
        type="text"
        class="input-field"
        required
      />
      <input
        name="email"
        placeholder="Email Address"
        type="email"
        class="input-field"
        required
      />
      <input
        name="password"
        placeholder="Password"
        type="password"
        class="input-field"
        required
      />
  
      <div class="form-actions">
        <button type="submit" class="action-btn">Sign Up</button>
      </div>
  
      <p class="login-link">
        Already have an account? <a href="/login">Sign in here</a>
      </p>
    </form>
  </div>
  